{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Find Healthy Raccoon</title>
        <link rel="stylesheet" href="{% static 'game/index.css' %}">
        <link rel="shortcut icon" href="{% static 'game/Images/raccoon.ico' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    </head>
    <body>
        <main id="bg">
            <div id="mainMenu">
                <a href="#;" onClick="showStage()" class="menuBtn">Start</a>
                <a href="#;" onClick="showHow()" class="menuBtn">How</a>
                <a href="#;" onClick="showRank()" class="menuBtn">Rank</a>
            </div>
            <div id="return">
                <a href="#;" onClick="showMenu()" class="menuBtn">Back</a>
            </div>
            <div>
                
            </div>
            <div id="point">
                <p>0</p>
                <p>0</p>
                <p>0</p>
            </div>

            <div id="choose">
                <a href="#;" onClick="chooseAnswer(0)" class="menuBtn">YOU</a>
                <a href="#;" onClick="chooseAnswer(1)" class="menuBtn">YOU</a>
                <a href="#;" onClick="chooseAnswer(2)" class="menuBtn">YOU</a>
            </div>
            <div id="racs">
                <table>
                    <td><img id="racA" src="{% static 'game/Images/SitRaccoon.png' %}"></td>
                    <td><img id="racB" src="{% static 'game/Images/SitRaccoon.png' %}"></td>
                    <td><img id="racC" src="{% static 'game/Images/SitRaccoon.png' %}"></td>
                </table>
            </div>
            <div id="stage">
                <h3>Stage 0</h3>
                <p>Score 0</p>
            </div>
            {% block content %}
            <div id="rank">
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    {% if User_data %}
                    {% for data in User_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.score }}</td>
                        <td>{{ data.date }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>0</td>
                        <td>Error</td>
                        <td>No Data</td>
                        <td>Play Game</td>
                    </tr>
                    {% endif %}
                </table>
                
                
            </div>
            {% endblock %}
        </main>



        <footer>
                <p><small>Ver 1.0.0 &copy; 2023 DEZELI</small></p>
                <p><small>haterecursive@gmail.com</small></p>
        </footer>
        <script>
            const saveurl = "{% url 'game:save' %}"
        </script>
        <script src="{% static 'game/main.js' %}"></script>
    </body>
</html>